<!doctype html>
<html>
    <head>
        <title>Report-o-Matic</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    </head>

    <body>
        <div id="wrapper">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            <div id="content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
